# Created by venv; see https://docs.python.org/3/library/venv.html
# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Environment
venv/
.env/
.ElectricityPred/

# IDE
.vscode/
.idea/

# System
.DS_Store

# Logs and Pickles
*.log
*.pkl
